.item {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  width: 300px;
  border: 1px solid #e0e0e0;
  padding: 10px;
}
.status {
  align-self: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: teal;
  margin-right: 20px;
}

/* Сomposes вызывается с текущими props во время рендера. 
Эта функция должна возвращать className или объект стиля. */

.online {
  composes: status;
  background-color: green;
}

.offline {
  composes: status;
  background-color: red;
}

.avatar {
  margin-right: 20px;
}

.name {
  font-size: 18px;
}
